@import 'compass';
@import '../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/buttons';

@mixin product-action-items ($background-color, $font-color:#000000, $border-color:#e3e3e3) {
    float: left;
    padding: 12px 18px;
    font-size: 2em;
    margin-right: 3px;
    border: 1px solid;

    @include border-radius(3px);
    @include button-variant($font-color, $background-color, $border-color);
}