@import 'cashier/variables';
@import 'cashier/mixins';

@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'compass';

.container {
    min-width: 970px;
}

.primary-container {
    padding-bottom: 80px; // fixed bottom bar
    padding-top: 160px; // fixed top bar
}

a.item {
    &.disabled, &.disabled:hover, &.disabled:focus {
        background-color: #ebebeb !important;
        cursor: default;
    }

    &:hover, .item:focus {
        text-decoration: none;
    }
}

header.header {
    background-color: $body-bg;
    position: fixed;
    width: 100%;
    z-index: 1;

    .top-banner {
        border-bottom: 2px solid black;
        padding-bottom: 5px;
        padding-top: 22px;
        text-align: right;

        hr {
            width: 97%;
        }

        .account-balance {
            font-size: 3em;
        }
    }
}

.action-row {
    @include simulate-hr-el();

    &.top {
        padding-bottom: 6px;
    }

    .item {
        @include product-action-items(#FFFF7E);

        &.next-page-item, &.previous-page-item, &.student-discount-item {
            float: right;
        }
    }
}

.product-list {
    padding-top: 10px;

    .item {
        margin-bottom: 4px;
        @include product-action-items(#FFF4F0);
    }
}

.payment-col {
    position: relative;

    .basket-entries {
        padding-bottom: 120px;

        .basket-entry {
            padding: 7px 0;
            @include clearfix();

            .product-name {
                margin-right: 22px;
                width: 45%;
            }

            .product-name, .quantity {
                float: left;
                font-style: italic;
                line-height: 20px;
                min-height: 25px;
                padding-top: 4px;
            }

            .sub-total {
                float: right;
                font-size: 1.3em;
                margin-left: 12px;
            }
        }
    }

    .payment-footer {
        position: fixed;
        bottom: 0;
        width: 16%;
        min-width: 220px;
        max-width: 260px;

        .basket-total {
            @include clearfix();

            .total-label {
                float: left;
                font-size: 1.5em;
                font-style: italic;
                line-height: 39px;
                margin-right: 50px;
            }

            .total {
                float: right;
                font-size: 2em;
                font-weight: 500;
            }
        }

        .pay-item {
            $disabled-bg-color: #c1dbff;
            $active-bg-color: #7a9fdb;

            width: 100%;
            text-align: center;
            @include product-action-items($active-bg-color, white);

            &.disabled {
                @include product-action-items($disabled-bg-color, white);
            }

            .new-balance {
                font-size: .8em;
                font-style: italic;
            }
        }
    }
}

footer.footer {
    background-color: $body-bg;
    bottom: 0;
    position: fixed;
    width: 100%;

    .action-row {
        padding-top: 6px;
        @include simulate-hr-el('top');
    }

    .footer-payment-col {
        padding-top: 6px;
    }
}

.alert-notification {
    font-size: 2em;

    .progress {
        margin: 0;
    }
}