<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cashier</title>
    <link rel="stylesheet" href="/static/stylesheets/cashier.css">
    <script src="/static/bower_components/angular/angular.min.js"></script>
</head>
<body ng-app="cashier"
      ng-controller="cashierController as cashier">
    <header class="header">
        <div class="container">
            <div class="row top-banner">
                <div class="col-xs-12">
{#                  Using this &nbsp; character "hack" the element, and force it to render,
                    else, it's gonna be empty and the height of the element is gonna be 0px #}
                    <div class="account-balance">
                        <p>&nbsp;[[ cashier.account.balance | currency : '€' ]]</p>
                    </div>
                    <hr>
                    <div class="account-fullname">
                        <p>&nbsp;[[ cashier.account.full_name ]]</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container primary-container">
        <div class="row grid-container">
            <div class="col-xs-9">
                <div class="action-row top clearfix">
                    <a href="#" class="action-item log-out-item item"
                         ng-click="cashier.logoutAccount()"
                    >
                        Log out
                    </a>
{#                    <a href="#" class="action-item next-page-item item">Next Page</a>#}
{#                    <a href="#" class="action-item previous-page-item item">Prev. Page</a>#}
                </div>
                <div class="product-list clearfix">
                    {% for product in product_list %}
                        <a href="#" class="product-item item product-id-{{ product.id }}"
                             ng-click="cashier.onClickAddProductInBasket({{ product.id }})"
                        >
                            <span>{{ product.description }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-3 payment-col">
                <div class="basket-entries">
                    <div class="basket-entry"
    {#                   https://docs.angularjs.org/error/ngRepeat/dupes #}
                         ng-repeat="basketEntry in cashier.basket.basketEntries"
                         ng-dblclick="cashier.onDblClickRemoveProductInBasket(basketEntry.product.id)"
                    >
                        <div class="product-name">
                            [[ basketEntry.product.description ]]
                        </div>
                        <div class="quantity">
                            x[[ basketEntry.quantity ]]
                        </div>
                        <div class="sub-total">
                            [[ basketEntry.subTotal | currency : '€' ]]
                        </div>
                    </div>
                </div>
                <footer class="payment-footer">
                    <div class="basket-total">
                        <span class="total-label">Total:</span>
                        <span class="total">
                            [[ cashier.basket.total | currency : '€' ]]
                        </span>
                    </div>
                    <div class="payment">
                        <a href="#" class="action-item pay-item item"
                           ng-click="cashier.onClickPay()"
                        >
                            <span class="pay-label">
                                Pay
                            </span>
                            <span class="new-balance"
                                  ng-show="cashier.showNewBalance()"
                            >
                                - [[ cashier.basket.newLinkedAccountBalance | currency : '€' ]]
                            </span>
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
{#                Moved to the payment column #}
{#                <div class="col-xs-9 footer-actions-container">#}
{#                    <div class="action-row bottom clearfix">#}
{#                        <a href="#" class="action-item switch-view-item item">Switch view</a>#}
{#                        <a href="#" class="action-item student-discount-item item">Student discount</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-xs-3 col-xs-offset-9 footer-payment-col">#}
{#                    <a href="#" class="action-item pay-item item"#}
{#                       ng-click="cashier.onClickPay()"#}
{#                    >#}
{#                        <span class="pay-label">#}
{#                            Pay#}
{#                        </span>#}
{#                        <span class="new-balance"#}
{#                              ng-show="cashier.showNewBalance()"#}
{#                        >#}
{#                            - [[ cashier.basket.newLinkedAccountBalance | currency : '€' ]]#}
{#                        </span>#}
{#                    </a>#}
{#                </div>#}
            </div>
        </div>
    </footer>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="/static/bower_components/socket.io-client/socket.io.js"></script>
    <script>
        window.serialized_cashier_product = '{{ serialized_cashier_product|safe }}';
        window.serialized_account = '{{ serialized_account|safe }}';
    </script>
    <script src="/static/js/cashier.js"></script>
    <script src="/static/bower_components/remarkable-bootstrap-notify/bootstrap-notify.min.js"></script>
</body>
</html>